body{
 width: 1200px;
 height: 1000px;
  color:rgb(245, 245, 245);
  background-color:rgb(0, 0, 0)
}
 

.header-logo{
  margin-left: 120px;
  margin-right: 142px;
}

.header{
  max-width: 1270px;
  margin: auto;
  height: 1000px;
  background-size:cover;  
  background-repeat: no-repeat;
  background-image : url(/img/Group\ 34.png)
  
}
.span-logo{
font-family: Metro;
}
.header-line {
  background: rgba(0, 0, 0, 0.45);
  padding: 1em;
  display: flex;
  align-items: center;
}

.nav-item {
  color: #f8f8f8;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-right: 38px;
  font-family: Montserrat;
}

.header-down {
  position: absolute;
  top: 165px;
  left: 700px;
  height: 326px;
  width: 450px;
  
}

.head-2{
  font-family: Metro;
  font-family: Metro;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
  margin-bottom: 24px;
  
}
.inovac{
border-radius: 100px;
background: #5d5e5e;
opacity: 1;
}
.infor{
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.infor-2 {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.9%;
  margin-bottom: 8.5px;
  text-transform: uppercase;
}

.infor-3{
  color: color(display-p3 0.851 0.851 0.851);
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.9%;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.button {
display: flex;
padding: 12px 21px;
justify-content: center;
align-items: center;
gap: 6.25px;
border-radius: 100px;
border-top: 4px solid var(--1, #FFF);
border-top: 4px solid var(--1, color(display-p3 1 1 1));
border-left: 4px solid var(--1, #FFF);
border-left: 4px solid var(--1, color(display-p3 1 1 1));
background: var(--5, #5556FF);
background: var(--5, color(display-p3 0.3333 0.3373 0.9647));
height: 44;
width: 200px;
font-family: Montserrat;
}

.section-2{

}

.zac{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: Metro;
  letter-spacing: 5.44px;
  width: 100%;

}
.zac-img{
margin-left: 20px;
}

.card{

  width: 470px;
  height: 450px;
  padding: 32px;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid var(--4, #0089FF);
  border: 1px solid var(--4, color(display-p3 0.2275 0.5176 0.9686));
  background: var(--7, #17161A);
  background: var(--7, color(display-p3 0.0902 0.0863 0.102));
  box-shadow: 0px 0px 35px 0px rgba(0, 161, 232, 0.45) inset;
  box-shadow: 0px 0px 35px 0px color(display-p3 0 0.6196 0.8863 / 0.45) inset;
  
}
.card-2{

  margin-right: 120px;
  margin-left: 20px;
  padding: 32px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--4, #0089FF);
  border: 1px solid var(--4, color(display-p3 0.2275 0.5176 0.9686));
  width: 470px;
  height: 175px;

}

.card-3{
    padding: 32px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--4, #0089FF);
    border: 1px solid var(--4, color(display-p3 0.2275 0.5176 0.9686));
    width: 470px;
    height: 175px;
    margin: 1em;
}

.card-header{
  font-size: 24px;
  letter-spacing: -0.36px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 120%;
}

.card-text{
  font-family: Montserrat;
  font-size: 19px;
  letter-spacing: -0.285px;
  line-height: 120%;
}

.container-card{
display: flex;

}

.h2-section{
  font-family: Metro;
    font-size: 34px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 5.44px;
    margin-left: 120px;
}

.section-tri{
margin-top: 120px;
height: 755px;
width: 1200px;

}

.section-3-p{
  margin-left: 361px;
  height: 75px;
  width: 719px;
}
.p-section-3{
  font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.315px;
}
.span-section3{
  color: var(--4, #0086FF);
  color: var(--4, color(display-p3 0.2275 0.5176 0.9686));
}

.section-4{
  width: 1200px;
  height: 100%;
}

.www-1{

  font-family: Metro;
    font-size: 65px;
    letter-spacing: 2.25px;
  margin-left: 120px;

}
.www
{
color: #FFF;
  color: color(display-p3 1 1 1);
  font-family: Metro;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.25px;
  margin-left: 728px;
}
.span-sect{
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
}
.rrr{

  margin-top: 160px;

  width: 1200px;
  height: 653px;
  background-image : url(/img/Noise\ &\ Texture\ \(1\).png)
}

.rr{
 margin-right: 136px;
  width: 241px;
  height: 366px;
  border-radius: 8px;
  background: var(--3, #1113FD);
  background: var(--3, color(display-p3 0.0667 0.0745 0.9529));
}

.rg{
  color: var(--1, #FFF);
  
    color: var(--1, color(display-p3 1 1 1));
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
.carrr{
  display: flex;
    position: center;
    margin-left: 121px;
}

.section-5{
  margin-left: 121px;
}

.card-sect-5{
  width: 960px;
  height: 818px;
  display: grid;
  grid-template-columns: 520px 520px ;
  gap: 10px;
}

.cs-1{
  display: flex;
    width: 470px;
    height: 320px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  border-radius: 12px;
    border: 1px solid var(--4, color(display-p3 0.2275 0.5176 0.9686));
    box-shadow: 0px 0px 35px 0px rgba(0, 161, 232, 0.45) inset;
    box-shadow: 0px 0px 35px 0px color(display-p3 0 0.6196 0.8863 / 0.45) inset;
}
.sp-1{
  color: var(--1, #FFF);
    color: var(--1, color(display-p3 1 1 1));
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
.sb-1{
  color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    display: flex;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    gap: 6.25px;
   border-radius: 100px;
    background: #1113FD;
}
.cs-2{
  display: flex;
  height: 258px;
  width: 332px;
  border-radius: 100px;
  margin-left: 110px;
  
}
.imgg{
  stroke: var(--1, #FFF);
stroke-width: 1px;
stroke: var(--1, color(display-p3 1 1 1));
}
.ss-1
{
color: var(--4, #0086FF);
color: var(--4, color(display-p3 0.2275 0.5176 0.9686));
}
.cs-3{
  display: flex;
    width: 470px;
    height: 320px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    border: 1px solid var(--6, #00BB3F);
    border: 1px solid var(--6, color(display-p3 0.1804 0.7098 0.3608));
    background: var(--7, color(display-p3 0.0902 0.0863 0.102));
    box-shadow: 0px 0px 15px 0px rgba(0, 255, 17, 0.45) inset;
    box-shadow: 0px 0px 15px 0px color(display-p3 0.3098 1 0.3098 / 0.45) inset;
}



.section-6{
  width: 1200px;
  height: 552px;
  margin-left: 121px;

}
.containerrr{
  display: flex;
 
}
  .crug{
    margin-right: 200px;
    display: flex;
      width: 24px;
      height: 24px;
      padding: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 100px;
        background: var(--4, #0086FF);
        background: var(--4, color(display-p3 0.2275 0.5176 0.9686));
  }

  .section-p-6{
    font-family: Montserrat;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.36px;
      text-transform: uppercase;
    width: 206px;
    height: 180px;
  }
  .span-6{
    color: var(--4, color(display-p3 0.2275 0.5176 0.9686));
  }
  .tt{
    display: flex;
    padding: 0px 0.333px 75px 0px;
    align-items: flex-start;
      gap:45px;


  }
  .section-7{
      width: 1200px;
      height: 670px;
      margin-left: 121px;
      margin-right: 121px;
  }
.priz{
  display: flex;
  gap: 20px;
}
.priz-2{

  width: 470px;
  height: 365px;
  padding: 32px;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
    border: 1px solid var(--4, #0089FF);
    border: 1px solid var(--4, color(display-p3 0.2275 0.5176 0.9686));
}

.mony{
  font-family: Metro;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.44px;
    margin-bottom: 200px;
}

.text-7{
  color: #FFF;
    color: color(display-p3 1 1 1);
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    letter-spacing: -0.285px;
}

/* начало новой секции  */
.box {
  width: 1200px;
  height: 500px;
  display: center;
  margin-left: 121px;
}

.box .heading {
  background: #000000;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  color: #fff;
  text-align: center;
font-family: Metro;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.44px;

}

.faqs {
  padding: 0px 10px 10px;
}


details {

  background: #000000;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: Montserrat;
  letter-spacing: -0.36px;
  font-weight: 500;
  line-height: 120%;
}

.text-8{
color: #FFF;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;

}

hr {
  border-color: #4a94d1;
}

/* начало новой секции  */

.zag{
  margin-left: 121px;
  width: 1200px;
  height: 730px;
}

.input{
  font-family: Montserrat;
  margin-bottom: 38px;
  display: flex;
  padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--4, #0089FF);
    border: 1px solid var(--4, color(display-p3 0.2275 0.5176 0.9686));
    background-color:#000000
}
.input2{
  font-family: Montserrat;
    margin-bottom: 38px;
    display: flex;
    padding: 76px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--4, #0089FF);
    border: 1px solid var(--4, color(display-p3 0.2275 0.5176 0.9686));
    background-color: #000000
}


.ypr{
display: flex;
gap: 40px;
}

.h2-sectio{
  font-family: Metro;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.44px;

}

.ikons{
  display: flex;
}
.frame{
  margin-right: 24px;
  width: 48px;
    height: 48px;
padding-top: 80px;
    text-align: center;
}
.u{
  margin-right:40px ;
  display: flex;
    width: 210px;
    height: 140px;
    padding: 35px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
      border: 1px solid var(--4, #0089FF);
      border: 1px solid var(--4, color(display-p3 0.2275 0.5176 0.9686));
}